
body
	{
	Font-Style :Sans Serif;
	}
th
	{
	Font-Size : 10pt;
	Background-Color : #a7c4cb;
	}
tr.isi
	{
	Background-Color : LightGrey;
	Font-Size : 9pt;
	}
tr.isi:hover
	{
	Background-Color : White;
	}
